.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin-bottom: 0.5rem;
}

.row {
	display: flex;
	gap: 0.5rem;
	margin: 1rem 0;
}

input {
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	border: 1px solid transparent;
	cursor: text;
	transition: border-color 0.25s;
	border-radius: 8px;
}

input:hover {
	border-color: #646cff;
}

input:focus,
input:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

button {
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	border: 1px solid transparent;
	cursor: pointer;
	transition: border-color 0.25s;
	border-radius: 8px;
}

button:hover {
	border-color: #646cff;
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	input,
	button {
		background-color: #f9f9f9;
	}
}
